.header-container {
    --header-padding: 4px;
    --full-header-height: calc(100% - var(--header-padding)*2);
    height: calc(var(--header-margin) - 8px);
    width: 100%;
    padding: var(--header-padding);
    background-color: var(--main-bg);
    position: fixed;
    top: 0;
    z-index: 3;
    -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-color);
    -moz-box-shadow: 0px 2px 5px 0px var(--shadow-color);
    box-shadow: 0px 2px 5px 0px var(--shadow-color);
    display: flex;
    flex-direction: row;
  }
  
  .logo {
    height: 100%;
    position: absolute;
    left: 650px
  }
  
  .search-container {
    height: var(--full-header-height);
    float: left;
    padding-right: 250px;
  }
  
  .sidebar-remove-button {
  margin: 0px 35px;
  width: 30%;
  height: 30px;
  border-width: thin;
  background-color: var(--red);
  color: var(--main-bg);
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  width: auto;
  min-width: 150px;
  float: right;

}


 
  
 

  
